<form action="/" method="POST">
    <input type="text" placeholder="Enter a message" id="username" name="message">
    <input type="submit" value="Enter message to Database" class="button">
</form>
<a href="/Clipboard"><input placeholder="View Clipboard" style="background-color: lightgreen " class="button"></input></a>
</body>
</html>
